body{
    background:linear-gradient(-130deg,rgba(255, 255, 255, 0.5), rgba(14, 99, 141, 0.5));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.left-sidebar{
    background: #d24646;
}
.right-sidebar{
    background: #d24646;
}